.playlistForm {
  display: flex;
  flex-direction: column;
  width: 200px;
}


.container {
  min-width: 100px;
  width: 250px;
  height: 60vh;
  min-height: 100px;
  height: fit-content;
  /* border: 1px solid black; */
  overflow: scroll;
}

.selectedTrack {
  background-color: red;
}


